/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/*-------------------------  ------------------------- */
/*-------------------------  mixins & extend & var ------------------------- */
/*------------------------- general ------------------------- */
body { font-size: 14px; font-family: Arial, sans-serif; line-height: 1.4; }

.wrap { width: 1000px; margin: 0 auto; }

.h2 { font-size: 58px; line-height: 1.2; color: #009444; text-align: center; }

/*------------------------- ico ------------------------- */
.btn-super { margin-top: 40px; padding: 11px 0; display: inline-block; vertical-align: middle; text-align: center; text-transform: uppercase; text-decoration: none; font-weight: bold; font-size: 26px; color: #ed1c24; background: url('../img/icons-s4c65bf0835.png') 0 0 no-repeat; width: 300px; height: 96px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn-super:hover { background: url('../img/icons-s4c65bf0835.png') 0 -106px no-repeat; width: 300px; height: 96px; }
.btn-super:active { position: relative; top: -1px; }

.btn-konsult { width: 939px; height: 124px; line-height: 124px; margin-left: 35px; display: inline-block; background-image: url("../img/btn-konsult.jpg"); text-align: center; color: #ed1c24; font-size: 34px; font-weight: bold; cursor: pointer; }
.btn-konsult:hover { background-image: url("../img/btn-konsult_h.jpg"); }
.btn-konsult:active { position: relative; top: -1px; }

/*------------------------- btn ------------------------- */
/*------------------------- forms ------------------------- */
.input { width: 100%; height: 32px; padding: 5px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #e9e9ea; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d2d3d5)); background-image: -webkit-linear-gradient(#ffffff, #d2d3d5); background-image: -moz-linear-gradient(#ffffff, #d2d3d5); background-image: -o-linear-gradient(#ffffff, #d2d3d5); background-image: linear-gradient(#ffffff, #d2d3d5); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #603813; }

.form { width: 315px; padding: 10px 2px; background: #ef4036; border: 4px solid #ed1c24; position: relative; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form:before { content: ""; background: url('../img/icons-s4c65bf0835.png') 0 -212px no-repeat; width: 66px; height: 316px; position: absolute; left: -87px; top: 156px; }

.form__title { margin: -5px 8px 0; font-size: 30px; line-height: 1.2; color: #603813; }

.form__title-meta { font-size: 24px; color: #603913; text-align: center; }

.form__row { margin: 0 5px 1px; }

.form__note { margin: 10px 10px 0px; font-size: 12px; color: #603913; }

.label { display: block; font-size: 18px; color: #603813; }

/*------------------------- page ------------------------- */
.advice { padding: 17px 30px 0; background: #8ec6e8; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cbe2eb), color-stop(100%, #aac2db)); background-image: -webkit-linear-gradient(#cbe2eb, #aac2db); background-image: -moz-linear-gradient(#cbe2eb, #aac2db); background-image: -o-linear-gradient(#cbe2eb, #aac2db); background-image: linear-gradient(#cbe2eb, #aac2db); }

.advice__title { margin-bottom: 22px; font-size: 60px; text-align: center; line-height: 1.2; color: #ed1c24; }

.advice__meta { margin-bottom: 40px; font-size: 42px; text-align: center; color: #603813; }

.advice__wrap { *zoom: 1; }
.advice__wrap:after { content: " "; display: table; clear: both; }

.advice__media { width: 550px; margin-top: 20px; margin-left: 30px; float: left; }
.advice__media .advice__media-img { width: 572px; height: 340px; margin-bottom: 80px; overflow: hidden; }
.advice__media .advice__media-img img { width: 100%; }
.advice__media .advice__media-meta { margin: 0 -25px 0; font-size: 28px; color: #ed1c24; }

.advice__form { margin-top: -10px; margin-right: 20px; float: right; }

.advice__bottom { width: 1000px; height: 138px; margin-top: 35px; background-image: url("../img/grass.png"); font-size: 38px; color: white; font-weight: bold; position: relative; }
.advice__bottom .advice__bottom-text { line-height: 1; position: absolute; bottom: 5px; left: 20px; }

.mistake { padding: 25px 0 0; margin-bottom: 50px; }

.mistake__info { width: 100%; height: 490px; background: url("../img/mistake-bg.jpg") 52% 20px no-repeat; position: relative; }
.mistake__info .mistake__info-item { width: 300px; text-align: center; font-size: 26px; line-height: 1.2; color: #603913; font-weight: bold; position: absolute; }
.mistake__info .mistake__info-1 { top: 96px; left: -13px; }
.mistake__info .mistake__info-2 { top: 96px; right: 5px; }
.mistake__info .mistake__info-3 { bottom: 28px; left: 17px; }
.mistake__info .mistake__info-4 { bottom: 28px; right: -5px; }

.choose { margin-bottom: 62px; }

.choose__in { padding-left: 320px; margin-top: 34px; margin-bottom: 53px; position: relative; }
.choose__in:before { content: ""; width: 221px; height: 588px; background: url("../img/tree.jpg") 0px 0px no-repeat; position: absolute; left: 32px; top: -34px; }

.list li { margin-bottom: 6px; }
.list .list__num { width: 36px; height: 36px; line-height: 36px; display: inline-block; vertical-align: middle; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #dcdcde; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aaacaf)); background-image: -webkit-linear-gradient(#ffffff, #aaacaf); background-image: -moz-linear-gradient(#ffffff, #aaacaf); background-image: -o-linear-gradient(#ffffff, #aaacaf); background-image: linear-gradient(#ffffff, #aaacaf); border: 5px solid #5aa343; -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #60913f; -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #60913f; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #60913f; text-align: center; color: #0b9444; font-size: 28px; }
.list .list__num-info { width: 580px; display: inline-block; vertical-align: middle; padding-left: 24px; font-size: 24px; line-height: 1; color: #603913; font-weight: bold; }

.how-work .h2 { margin-left: 64px; font-size: 55px; }
.how-work .sexy-list { margin-top: 30px; }

.how-work__bottom { width: 1000px; height: 138px; margin-top: 35px; background-image: url("../img/grass.png"); font-size: 45px; color: white; font-weight: bold; position: relative; }

.how-work__bottom-text { line-height: 1; position: absolute; bottom: 5px; left: 0px; }

.sexy-list { width: 800px; margin-top: 30px; margin-left: 117px; margin-bottom: 40px; }
.sexy-list li { width: 100%; height: 115px; font-size: 38px; color: white; font-weight: bold; position: relative; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.sexy-list li:after { content: " "; display: table; clear: both; }
.sexy-list li:first-child { height: 130px; }
.sexy-list li:first-child .sexy-list__item { height: 130px; }
.sexy-list li.sexy-list_odd .shadow { left: 20px; right: 20px; bottom: 30px; -webkit-box-shadow: 0px 38px 10px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0px 38px 10px rgba(0, 0, 0, 0.6); box-shadow: 0px 38px 10px rgba(0, 0, 0, 0.6); -moz-transform: rotate(2deg); -o-transform: rotate(2deg); -webkit-transform: rotate(2deg); -ms-transform: rotate(2deg); transform: rotate(2deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.sexy-list li.sexy-list_even .shadow { left: 20px; right: 20px; bottom: 30px; -webkit-box-shadow: 0px 38px 10px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0px 38px 10px rgba(0, 0, 0, 0.6); box-shadow: 0px 38px 10px rgba(0, 0, 0, 0.6); -moz-transform: rotate(358deg); -o-transform: rotate(358deg); -webkit-transform: rotate(358deg); -ms-transform: rotate(358deg); transform: rotate(358deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.sexy-list li.sexy-list_red .sexy-list__item { background: #ec2028; }
.sexy-list li.sexy-list_orange .sexy-list__item { background: #f15b26; }
.sexy-list li.sexy-list_yellow .sexy-list__item { background: #fdd00a; }
.sexy-list li.sexy-list_green .sexy-list__item { background: #b1d238; }
.sexy-list li.sexy-list_blue .sexy-list__item { background: #1c84c6; }
.sexy-list li.sexy-list_purple .sexy-list__item { background: #ab4b9c; }
.sexy-list .sexy-list__item { height: 115px; padding-left: 15px; position: relative; }
.sexy-list .shadow { height: 30px; position: absolute; }
.sexy-list .sexy-list__num { font-size: 110px; vertical-align: middle; display: inline-block; line-height: 130px; }
.sexy-list .sexy-list__text { width: 695px; margin-left: 28px; margin-top: -5px; vertical-align: middle; display: inline-block; line-height: 1.2; }

.expert { margin-bottom: 60px; }
.expert .h2 { margin-top: 30px; }
.expert ul { margin-top: 26px; padding-left: 270px; position: relative; }
.expert ul:before { content: ""; width: 215px; height: 405px; background: url("../img/2.jpg") 0px 0px no-repeat; position: absolute; left: 32px; top: -26px; }
.expert ul li { margin-bottom: 5px; font-size: 26px; font-weight: bold; color: #603913; }

.customers { margin-bottom: 70px; }
.customers .h2 { font-size: 64px; }
.customers .customers__list { margin-top: 52px; margin-left: 28px; }
.customers ul { *zoom: 1; }
.customers ul:after { content: " "; display: table; clear: both; }
.customers li { float: left; }

.customers__bottom { width: 975px; height: 162px; background: url("../img/label.jpg") 16px -9px no-repeat; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
